{% extends "base.html" %}

{% block content %}

<div class="feed-wrapper">
    <h2 class="mb-4 text-center">Stories</h2>

    <div class="card mb-4">
        <div class="card-body">
            <h5 class="mb-3">Add a Story</h5>

            <form method="POST" enctype="multipart/form-data" class="mb-3">
                {% csrf_token %}
                {{ story_form.image }}
                <button type="submit" class="btn btn-sm btn-primary mt-2">Add Story</button>
            </form>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div style="display:grid; grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); gap:15px;">
                {% for story in stories %}
                    <div class="story-item">
                        <a href="{% url 'story_viewer' story.id %}" style="text-decoration:none; color:black;">
                           <img src="{{ story.image.url }}"  style="width:120px; height:120px; object-fit:cover; border-radius:10px;">
                            <div style="font-size:12px; margin-top:5px;">{{ story.user.username }}</div>
                        </a>
                    </div>
                {% empty %}
                    <p>No stories yet.</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}